:root {
  --text-black: rgb(0, 0, 0);
  --content-white: rgb(255, 255, 255);
  --background-beige: rgb(241, 228, 207);
  --accent-blue: rgb(52, 151, 190);
  --shadow-light: rgba(0, 0, 0, 0.15);
  --shadow-dark: rgba(0, 0, 0, 0.5);
}

/* App-wide CSS */
html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.App {
  background-color: var(--background-beige);
  font-family: "Montserrat", sans-serif;
  position: relative;
  height: 100vh;
  text-align: center;
  overflow-y: auto;
}

.page-content {
  background-color: var(--content-white);
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
}

.page-content p {
  margin: auto;
  max-width: 100ch;
}

button {
  background-color: var(--accent-blue) !important;
  color: var(--content-white) !important;
}

/* Navigation */
a {
  text-decoration: none !important;
}

.navbar {
  align-items: center;
  background-color: var(--accent-blue);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  font-weight: 400;
  justify-content: space-between;
  list-style: none;
  margin-top: 10px;
}

.navbar a {
  color: var(--content-white);
  padding: 10px 20px !important;
}

.navbar a:hover {
  text-decoration: underline !important;
}

/* Product cards */
.product-card-container {
  display: grid;
  gap: 20px;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 20px auto 100px;
  width: 80%;
}

.product-card {
  background-color: var(--content-white);
  border-radius: 20px;
  box-shadow: var(--shadow-light) 0 5px 10px;
  color: var(--text-black);
  height: 100%;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.25s;
}

.product-card:hover {
  box-shadow: var(--shadow-dark) 5px 10px 15px;
}

.product-card img {
  border-radius: 10px;
  width: 80%;
}

.product-description {
  margin: 20px 0 -10px;
}

.product-price {
  font-size: larger;
  font-weight: 700;
}

/* Product Page */
.product-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-details-container img {
  border-radius: 10px;
  margin: auto;
  width: 80%;
}

.product-info p {
  margin-bottom: 20px;
}

.product-counter {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 150px;
}

.product-counter p {
  font-weight: 700;
}

.product-counter button {
  width: 40px;
}

/* Account form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input, select, button {
  border-radius: 5px;
  margin: 0 auto 20px;
  width: 80%;
  max-width: 50ch;
}

.form select {
  height: 30px;
  margin: 0 auto 20px;
}

.form button {
  margin: 0 auto 20px;
}

/* Cart page */
.product-name {
  color: var(--accent-blue);
  font-weight: 700;
}

.product-name:hover {
  text-decoration: underline;
}

.remove-product {
  width: 40px;
}

.shipping-info {
  border: solid var(--accent-blue); 
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
  width: fit-content;
}

.shipping-info button {
  margin-top: 10px;
  width: 50ch;
}

/* Transaction page */
.checkmark {
  animation: checkmark-spin 2 2.5s ease;
  aspect-ratio: 1 / 1;
  background-color: var(--accent-blue);
  border-radius: 50%;
  color: var(--content-white);
  font-size: xx-large;
  margin: auto;
  width: 50px;
}

@keyframes checkmark-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer */
.footer {
  background-color: var(--content-white);
  flex-shrink: 0;
  padding-top: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* Smaller screen */
@media (max-width: 1200px) {
  .product-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .product-card-container {
    grid-template-columns: 1fr 1fr;
  }

  .product-details-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .product-card-container {
    grid-template-columns: 1fr;
  }
}